body {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
    padding: 0;
    margin: 0;
}

.bouncy-button {
    transition: transform 0.25s ease;
}

.bouncy-button:hover {
    animation: bounce 0.5s ease;
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}