body{
    font-family: "Inter", sans-serif;
}
h1,h2,h3,h4,h5,p,span{
    padding: 0;
    margin: 0;
}
.bouncing-bg{
    
}

.bouncing-bg:hover {
    animation: gelatineX 0.5s ;
}

@keyframes gelatineX {

    from,
    to {
        transform: scaleX(1);
    }

    25% {
        transform: scaleX(1.1);
    }

    50% {
        transform: scaleX(0.9);
    }

    75% {
        transform: scaleX(1.05);
    }
}